.preview-img-container {
    .label-upload {
        padding: 5px;
        background: #ddd;
        cursor: pointer;
        border-radius: 3px;
    
        &:hover {
            opacity: 0.9;
        }
    }

    .preview-image {
        width: 100PX;
        height: 50px;
        border: 1px solid #ddd;
        background: center center no-repeat;
        background-size: contain;
        cursor: pointer;
    }
}